<h2>Your Records</h2>
<form action = "/records/new">
  <input type = "submit" value = "Add New Record">
</form></br>

<%@user.records.order(name: :asc).each do |r|%>
<form action = "/users/<%=@user.slug%>/delete" method= "post">
<a href = "/records/<%=r.slug%>"><%=r.name%></a>
   <input type = "hidden" name = "record_id" value = "<%=r.id%>">
   <input type = "submit" value = "delete">
</form><br>
<%end%>
