* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: white;
}

/************************* SITE HEADER **************************/

#header {
  background-color: white;
  width: 90%;
  position: fixed;
  padding-top: 20px;
  left: 5%;
  z-index: 1;
  border-bottom: 1px solid rgb(229, 98, 206);
  height: 120px;
}

#user {
  padding-top: 20px;
  padding-right: 1.5em;
  font-size: 1.2em;
  float: right;
  background: transparent;

}

#user a {
  padding: 10px, 10px, 10px, 0px;
  color: rgb(229, 98, 206);
  background: transparent;
  text-decoration: none;
}

#user a:hover {
  color: red;
}

#logo {
  padding-left: 1em;
  float: left;
  background: transparent;
}

#logo h1 {
  padding: 40px, 20px, 15px, 20px;
  font-size: 4em;
  color: #ff1a1a;
  background: transparent;
  font-weight: lighter;
  font-family: "Julius Sans One", Arial, sans-serif;
}

#navigation {
  clear: left;
  padding-left: 3em;
  background: transparent;
}

#navigation a {
  display: inline-block;
  padding: 0 5px 0 5px;
  color: rgb(229, 98, 206);
  text-decoration: none;
  font-weight: 800;
}

#navigation a:hover {
	color: #ff1a1a;
}

/***********************ELEMENT STYLES****************************/

.button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: .6em;
  color: #ff1a1a;
  border: 1px solid rgb(229, 98, 206);
  background-color: white;
  border-radius: 5px;
}
/************************* PAGE LAYOUT **************************/

.container {
  padding-top: 120px;
  margin: 0 auto;
  width: 80%;
  position: relative;
}


.page-header {
  padding-top: 2em;
  font-size: 1.5em;
  position: fixed;
  float: left;
  width: 30%;
  padding-right: 10px;
}

.page-header h1 {
  color: #ff1a1a;
  font-weight: lighter;
  margin-bottom: 1em;
}

.page-content {
  padding-top: 2em;
  position: relative;
  width: 70%;
  padding-left: 60px;
  padding-bottom: 40px;
  float: right;
}

/************************* IMAGES *************************************/

.record-cover-large {
  width: 250px;
  height: 250px;
}

.record-cover-large img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/************************ INDEX DISPLAY OPTIONS ***********************/

.disabled  {
  display: none;
}

.display-mode-label  {
  display: inline-block;
  margin-right: 1em;
}

.mode-selector {
  position: absolute;
  left: -200px;
}

.mode-selector:checked + label {
  color: #ff1a1a;
}

.display-mode {
  color: rgb(229, 98, 206);
}


/************************* MAIN TABLE STYLES **************************/


table {
  padding-left: 20px;
  padding-top: 1.5em;
  font-size: 1.2em;
}

table a {
  text-decoration: none;
  color: gray;
}

table a:hover {
  color: #ff1a1a;
}

td h3 {
  color: rgb(229, 98, 206);
  font-size: 1.5em;
}


td:nth-of-type(2) {
  padding-left: 20px;
}

#artist-table td {
  text-align: left;

}

/********************* SHOW PAGE TABLE STYLES *******************/


.record-table {
  padding-left: 20px;
  padding-top: 2em;
  font-size: 1.5em;
}

.record-table a {
  text-decoration: none;
  color: gray;
}

.record-table a:hover {
  color: #ff1a1a;
}

.record-table td:nth-of-type(1) {
  color: rgb(229, 98, 206);
  text-align: right;
  padding-right: 20px;
}

.record-table td:nth-of-type(2) {
  text-align: left;
  padding-left: 20px;
}

.page-bottom {
  padding-left: 40px;
}

.page-bottom form {
  display: inline-block;
}

button#edit-record-button a {
  color: #ff1a1a;
  cursor: default;
}

/************************* FORM STYLES **************************/

.form {
  display: table;
  color: rgb(229, 98, 206);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
  padding-top: 2em;
}

.form div {
  display: table-row;
}

.form label, .form input, .form select {
  display: table-cell;
  margin-bottom: 5px;
}

#submit {
  display: table-cell;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ff1a1a;
  border: 1px solid rgb(229, 98, 206);
  background-color: white;
  border-radius: 5px;
  font-size: .6em;
  font-weight: bold;
}

.form label {
  width: 200px;
  padding-right: 5%;
  text-align: right;
  color: rgb(229, 98, 206);
}

.form input {
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px;
  border: none;
  font-size: 1em;
  color: #ff1a1a;
}

.form select {
  font-family: "Open Sans", Arial, sans-serif;
  color: #ff1a1a;
  border: none;
  padding: 5px;
  font-size: 1em;
}

input[type=text]:focus {
    border: 3px solid rgb(229, 98, 206);
}


input[type="file"] {
    display: none;
}

label[for="file-upload"] {
  display: table-cell;
  width: 100px;
  padding-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: grey;
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}
