* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: white;
}

/************************* SITE HEADER **************************/

#header {
  /*background-image: url(records_banner_crop4.jpg);*/
  background-color: white;
  width: 90%;
  position: fixed;
  padding-top: 20px;
  left: 5%;
  z-index: 1;
  border-bottom: 1px solid rgb(229, 98, 206);
  height: 120px;
}

#user {
  padding-top: 20px;
  padding-right: 1.5em;
  font-size: 1.2em;
  float: right;
  background: transparent;

}

#user a {
  padding: 10px, 10px, 10px, 0px;
  color: rgb(229, 98, 206);
  background: transparent;
  text-decoration: none;
}

#user a:hover {
  color: red;
}

#logo {
  padding-left: 1em;
  /*padding-top: 1em;*/
  float: left;
  background: transparent;
}

#logo h1 {
  padding: 40px, 20px, 15px, 20px;
  font-size: 4em;
  color: #ff1a1a;
  background: transparent;
  font-weight: lighter;
  font-family: "Julius Sans One", Arial, sans-serif;
}

#navigation {
  clear: left;
  /*float: left;
  margin-top: 3em;*/
  padding-left: 3em;
  background: transparent;
}

#navigation a {
  display: inline-block;
  padding: 0 5px 0 5px;
  color: rgb(229, 98, 206);
  text-decoration: none;
  font-weight: 800;
  /*background-color: */
}

#navigation a:hover {
	color: #ff1a1a;
}

/************************* PAGE LAYOUT **************************/

.container {
  padding-top: 120px;
  margin: 0 auto;
  width: 80%;
  position: relative;
  /*height: 800px;*/
}


.page-header {
  padding-top: 2em;
  font-size: 1.5em;
  position: fixed;
  float: left;
  width: 30%;
  padding-right: 10px;
}

.page-header h1 {
  color: #ff1a1a;
  font-weight: lighter;
}

.page-content {
  padding-top: 2em;
  position: relative;
  width: 70%;
  padding-left: 40px;
  float: right;
  overflow: scroll;
}


/************************* MAIN TABLE STYLES **************************/

table {
  display: inline-block;
  padding-left: 20px;
  padding-top: 1.5em;
  font-size: 1.2em;
}

table a {
  text-decoration: none;
  color: gray;
}

table a:hover {
  color: #ff1a1a;
}

td h3 {
  color: rgb(229, 98, 206);
  font-size: 1.5em;
}
td:nth-of-type(1) {
  text-align: right;
  padding-right: 20px;
}

td:nth-of-type(2) {
  text-align: left;
  padding-left: 20px;
}

/********************* SHOW PAGE TABLE STYLES *******************/


.record-table {
  padding-left: 20px;
  padding-top: 1em;
  font-size: 1.5em;
}

.record-table a {
  text-decoration: none;
  color: gray;
}

.record-table a:hover {
  color: #ff1a1a;
}

.record-table td:nth-of-type(1) {
  color: rgb(229, 98, 206);
  text-align: right;
  padding-right: 20px;
}

.record-table td:nth-of-type(2) {
  text-align: left;
  padding-left: 20px;
}

.page-bottom {
  padding-left: 40px;
}

.page-bottom .button {
  display: inline-block;
}

/************************* FORM STYLES **************************/

.form {
  display: table;
  /*margin: 0 auto;*/
  color: rgb(229, 98, 206);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
}

.form div {
  display: table-row;
}

.form label, form input {
  display: table-cell;
  margin-bottom: 10px;
}

#submit {
  display: table-cell;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ff1a1a;
  border: 1px solid rgb(229, 98, 206);
  background-color: white;
  border-radius: 5px;
  font-size: .6em;
  font-weight: bold;
}

.button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: .6em;
  color: #ff1a1a;
  border: 1px solid rgb(229, 98, 206);
  background-color: white;
  border-radius: 5px;
}

.form label {
  width: 200px;
  padding-right: 5%;
  text-align: right;
  color: rgb(229, 98, 206);
}

.form input {
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px;
  border: none;
}

.form select {
  font-family: "Open Sans", Arial, sans-serif;
  color: #ff1a1a;
  border: none;
  padding: 5px;
}
