@media only screen and (max-width: 500px) {

   #header {
     width: 100%;
     left: 0;
     margin: 0;
     padding: 0;
     height: 50px;
   }

   #header h1 {
     font-size: 1.5em;
     text-align: left;
   }

   #logo {
     padding-top: 10px;
     padding-left: 10px;
   }


   #user, #navigation {
     display: none;
   }

   #menu-icon {

     position: absolute;
     top: 8%;
     right: 5%;

   }

   #signup h1, #login h1 {
     display: none;
   }



   .add-record-form {
     margin: 0 auto;
     padding: 0
   }

   .display-mode {
     margin-right: 1em;
   }

  .container {
    width: 100%;
  }

  .page-header.index-container {
    float: none;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    top: 50px;
    z-index: 1;
    background-color: white;
  }

  .page-header.index-container h1 {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .page-header h1 {
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .page-header .record-cover-large {
    display: block;
    margin: 0 auto;
  }

  .page-header.show-container, .page-header.edit-container  {
    width: 100%;
    position: static;
    padding: 0;
    margin-top: 0;
    text-align: center;
  }

  .page-header.show-container h1, .page-header.edit-container h1 {
     margin: 0;
     padding: 0;
  }

  .page-content {
    width: 95%;
    margin: 0 auto;
    float: none;
    padding-left: 0;
    font-size: 1em;
  }

  .page-content.index-container {
    margin: 20px auto 8%;
  }

  .page-content.show-container, .page-content.edit-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0;
    float: none;
    font-size: 1em;
  }

  table, table.record-table, #title-table, #artist-table, #label-table  {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  table.record-table td {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: .8em;
  }

  #title-table td, #artist-table td, #label-table td {
    display: block;
    padding: none;
    margin: none;
    width: 100%;
    font-size: 1.2em;
  }

  #title-table td:nth-child(1) a {
    color: rgb(229, 98, 206);
  }

  #title-table td:nth-child(1) {
  }

  #title-table td:nth-child(2) {
    border-bottom: 1px solid #ff1a1a;
    margin-bottom: 5px;
  }

  #title-table tr:nth-child(1) {
    display: none;
  }

  #artist-table td h3, #label-table td h3 {
    font-size:  1em;
    padding-top: 5px;
    border-bottom: 1px solid #ff1a1a;
  }

  #label-table td h3 {
    color: #ff1a1a;
    border-bottom: 1px solid #ff1a1a;
  }

  #title-table td:nth-child(2), #artist-table td:nth-child(2), #label-table td:nth-child(2) {
    font-size: 1.2em;
    text-align: left;
  }

  #label-table td a {
    color: rgb(229, 98, 206);
  }

  .desktop-break {
    display: none;
  }

  .form {
    width: 90%;
    font-size: 1.5em;
    margin-left: 1em;
  }

  .form input {
    width: 270px;
    border: 1px solid rgb(229, 98, 206);
    border-radius: 5px;
  }

  .form select {
    width: 270px;
    border: 1px solid rgb(229, 98, 206);
  }

  .form label {
    display: block;
    width: auto;
    text-align: left;
    padding-left: 5px;
  }

  #mobile-nav, #mobile-nav-background {
    position: fixed;
    top: 10%;
    right: 5%;
    height: 175px;
    width: 150px;
    border: 1px solid rgb(229, 98, 206);
  }

  #mobile-nav {
    background: rgba(229, 98, 206, 0.7);
    z-index: 100;
  }

  #mobile-nav ul {
    background: transparent;
  }

  #mobile-nav ul li {
    list-style: none;
    padding: 10px;
  }

  #mobile-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }

  #mobile-nav-background {
    background-color: rgb(229, 98, 206);
    opacity: 0.5;
    z-index: 99;
  }

  #mobile-nav ul li a:hover {
    color: #ff1a1a;
  }

}

@media only screen and (max-width: 920px) and (min-width: 685px) {

  #menu-icon {
    display: none;
  }

  #user-link {
    margin-right: 5px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .desktop-break {
    display: none;
  }

  form.add-record-form {
    display: inline-block;
    float: right;
    padding-right: 20%;
    margin-top: 0;
  }

  .add-record-form .button {
    margin-top: 0;
  }

  .page-header.index-container {
    margin: 0 auto;
    padding-top: 1em;
    width: 100%;
    float: none;
    background-color: white;
    z-index: 1;
  }

  .page-content.index-container {
    width: 100%;
    float: none;
    margin: 100px auto 0;
    padding-left: 0;
  }

  .page-header.index-container h1 {
    font-size: 1.7em;
    margin: 0;
    font-weight: bold;
    float: left;
  }

  .page-header.index-container h2 {
    float: left;
    font-size: 1.7em;
    padding-left: 1em;
  }

  .page-header.edit-container {
    float: none;
    width: 100%;
    position :static;
    text-align: center;
  }

  .page-header.edit-container h1 {
    margin-bottom: 0;
  }

  .page-header.edit-container .record-cover-large {
    display: none
  }

  .page-content.edit-container {
    width: 100%;
    float: none;
    padding-left: 0;
    margin: 0 auto;
  }

  .page-content {
    width: 70%;
  }

  .page-content table {
    width: 100%;
  }

  .page-content form select {
    width: 300px;
  }

  .page-content form {
    margin: 0 auto;
  }

  .page-content form input[type="submit"] {
    width: auto;
  }

  .record-table {
    width: 80%;
  }

  .display-mode {
    margin-right: 1em;
  }

  #title-table, #label-table {
    margin: 0 auto;
  }

  #artist-table {
    margin: 0 0 0 15%;
  }

  #title-table td, #artist-table td, #label-table td {
    text-align: left;
    width: 40%;
    padding-right: 0;
    padding-left: 0;
  }

  #user {
    padding: 0 5px 0 5px;
    margin-right: 10%;
  }

  #header {
    width: 100%;
    left: 0;
  }

  #display-options {
    clear: both;
    float: left;
  }

}

@media only screen and (min-width: 501px) and (max-width: 684px) {

  #menu-icon {
    display: none;
  }

  #header {
    width: 100%;
    left: 0;
    height: 100px;
  }

  #header h1 {
    font-size: 3em;
    text-align: left;
  }

  #user-link {
    margin-right: 5px;
  }

  .container {
    width: 100%;
  }

  .page-header.index-container, .page-header.show-container {
    float: none;
    width: 90%;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    padding: 0;
    top: 50px;
    z-index: 1;
    background-color: white;
  }

  .page-header.show-container {
    position: static;
  }

  .page-header.index-container h1, .page-header.show-container h1 {
    margin: 0;
    padding: 0;
  }

  .page-content.index-container, .page-content.show-container {
    width: 80%;
    margin: 100px auto 0;
    float: none;
    padding-left: 5px;
    font-size: 1em;
  }

  .page-header .record-cover-large {
    display: block;
    margin: 0 auto;
  }

  .page-header.edit-container {
    float: none;
    width: 100%;
    position :static;
    text-align: center;
  }

  .page-header.edit-container h1 {
    margin-bottom: 0;
  }

  .page-header.edit-container .record-cover-large {
    display: none
  }

  .page-content.edit-container {
    width: 100%;
    float: none;
    padding-left: 0;
    margin: 0 auto;
  }

  .desktop-break {
    display: none;
  }

  #user {
    padding: 0 5px 0 5px;
    margin-right: 10%;
  }

}

@media only screen and (min-width: 921px) {
  #menu-icon {
    display: none;
  }


}
