/*
========================================================
Reset code - sets all HTML values to zero
========================================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

/* CLOSING OUT
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
========================================================
Clearfix -- use with floated elements; class="group"
========================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}


/* ###############  GRID ################# */

.container,
.grid {
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}


/*
========================================================
Column layout
========================================================
*/

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*********************PAGE STYLES ***************************************/

* {
  font-family: Arial, sans-serif;
  /*border: 3px dashed; */
}


a {
  text-decoration: none;
}

#logo h1 {
  font-size: 3em;
  color: white;
}

#header {
  background-image: url(images/records_banner.jpg);
}

#footer {
  background-color: #d9d9d9;
}

.container {
 background-color: #d9d9d9;
}

.page_header {
  text-align: center;
  padding-bottom: 10px;
}

.page_header h1 {
  font-size: 2em;
  padding: 10px 5px;
}

.page_header table {
  text-align: left;

}

.table td {
  padding-left: 20px;
  padding-bottom: 5px;
}
