/*
========================================================
Reset code - sets all HTML values to zero
========================================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, */caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

 CLOSING OUT
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
} */


/*
========================================================
Clearfix -- use with floated elements; class="group"
========================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}


/* ###############  GRID ################# */
/*
.container,
.grid {
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
========================================================
App Styles
========================================================
*/

/*//////////////GLOBAL STYLES///////////////////*/

* {
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
  /* border: 1px dashed; */
}

a {
  text-decoration: none;
  background-color: white;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

/*//////////////LAYOUT STYLES ///////////////////*/

.container {
 background-color: #d9d9d9;
}

#header {
  background-image: url(images/records_banner.jpg);
  width: 100%;
}

#user {
  padding-top: 1em;
  padding-right: 1.5em;
  font-size: 1.2em;
  float: right;
  background: transparent;
}

#user a {
  padding: 10px, 10px, 10px, 0px;
  color: white;
  background: transparent;
}

#user a:hover {
  color: red;
}

#logo {
  padding-left: 1em;
  padding-top: 1em;
  float: left;
  background: transparent;
}

#logo h1 {
  padding: 20px, 20px, 15px, 20px;
  font-size: 3em;
  color: white;
  background: transparent;
}

#navigation {
  clear: left;
  margin-left: 1em;
  background: transparent;
}

#navigation a {
  display: inline-block;
  padding: 1em;
  color: white;
  background-color: #ff1a1a;
}

#navigation a:hover {
	color: gray;
}


#footer {
  background-color: #d9d9d9;
}

/*//////////////PAGE STYLES ///////////////////*/

.page_header {
  text-align: center;
  padding-bottom: 10px;
  font-size 1.5 em
}

.page_header h1 {
  font-size: 3em;
  padding: 10px 5px;
}

.page_header table {
  text-align: left;
}

.page_bottom {
  text-align: center;
  padding-top: 10px;
}

#landing a, #error a {
  background-color: #d9d9d9;
}

/*//////////////MESSAGE STYLES ///////////////////*/

.message h3 {
  text-align: center;
  color: red;
  background-color: white;
}

.table h1 {
  text-align: center;
  font-size: 3em;
  padding: 10px 5px;
  color: black;
}



.table td {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.table h3 {
  margin-bottom: 0;
}

table {
  margin: 0px auto;
  background-color: white;
  font-size: 1.5 em
}

table td {
  background-color: white;
}

table td strong {
  background-color: white;
}

/*//////////////FORM STYLES ///////////////////*/

.form form {
  padding: 2em;
  width: 50%;
  margin: 0px auto;
  background-color: white;
  font-size: 1.5 em
}

.form form label {
  background-color: white;
}
