<h2>Your Collection</h2>
<form action = "/users/<%=@user.slug%>" method = "post">
  <label>Mode:
  <input type = "radio" name = "mode" value = "Records" <%if @mode == "Records"%>checked = "checked"<%end%> >Records</input>
  <input type = "radio" name = "mode" value = "Artists" <%if @mode == "Artists"%>checked = "checked"<%end%>>Artists</input>
  <input type = "radio" name = "mode" value = "Labels" <%if @mode == "Labels"%>checked = "checked"<%end%>>Labels</input>
  <input type = "submit" value = "Change Mode">
</form><br></br>
<form action = "/records/new">
  <input type = "submit" value = "Add New Record">
</form></br>




<%if @mode == "Records"%>
  <%@user.records.order(name: :asc).each do |r|%>
  <a href = "/records/<%=r.slug%>"><%=r.name%></a> -- <%=r.artist.name%><br>
  <%end%>
<%end%>

<%if @mode == "Artists"%>

  <p>COMING SOON</p>

  <%end%>

<%if @mode == "Labels"%>

  <p>ALSO COMING SOON</p>
  <%end%>
