<div class="page-header message">
  <h1>Log In</h1>
  <% if flash.has?(:message)%>
  <h3><%=flash[:message]%></h3></br>
  <%end%>
</div> <!-- page header -->

<div class="page-content">
  <form action="/login" method="post" class="form">
    <div>
      <label>Username: </label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password" placeholder="password">
    </div>
    <div>
      <label></label>
      <input type="submit" value="Log In" id="file-upload" class="button">
    </div>
  </form>

</div><!-- form-->
