<div class="page-header message">

  <h1>Sign Up</h1>

  <% if flash.has?(:message)%>
  <h3><%=flash[:message]%></h3></br>
  <%end%>

</div><!--page header-->

<div class="page-content">
  <form action="/signup" method="post" class="form">
    <div>
      <label>Name: </label>
      <input type="text" name="name" placeholder="name">
    </div>
    <div>
      <label>Username: </label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div>
      <label>Email: </label>
      <input type="text" name="email" placeholder="email">
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password" placeholder="password">
    </div>
    <div>
      <label></label>
      <input type="submit" value="Sign Up" id="file-upload" >
    </div>
  </form>
</div>
