<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href = "/stylesheets/style.css" type = "text/css" rel = "stylesheet">
  </head>
  <body>
    <header>
      <div id = "header">
        <div id = "logo">
         <h1>Record Collector</h1>
       </div>
       <div id = "user">
         <%if logged_in?%>
           <a href = "/users/<%=current_user.slug%>"><%=current_user.username%></a><br>
           <a href = "/logout">Log Out</a>
         <%end%>
       </div>
     </div>
         <%=yield%>

  </body>
</html>
