<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href = "/stylesheets/style.css" type = "text/css" rel = "stylesheet">
  </head>
  <body>

   <h1>Record Collector</h1>
   <%=yield%>

  </body>
</html>
