<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href = "/style.css" type = "text/css" rel = "stylesheet">
  </head>
  <body>
    <header>
      <div id = "header">
        <style>{background-color: grey;}</style>
        <div id = "logo">
         <h1>Record Collector</h1>
        </div>
       <div id = "user">
         <%if logged_in?%>
           <a href = "/users/<%=current_user.slug%>"><%=current_user.username%></a><br>
           <a href = "/logout">Log Out</a>
         <%end%>
       </div>
     </div>
     <div class = "container">
         <%=yield%>
     </div>
     <footer id = "footer">
     </footer>
  </body>
</html>
