<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300|Raleway:500" rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="header">
        <div id="logo">
         <h1>Record Collector</h1>
        </div>
        <img src="/images/menu_32.png" id="menu-icon" onclick="toggleMenu()"/>
       <div id="user">
         <%if logged_in?%>
           <a href="/users/<%=current_user.slug%>" id="user-link"><%=current_user.username%></a><br class="desktop-break">
           <a href="/logout">Log Out</a>
         <%end%>
       </div>
       <nav id="navigation">
         <%if logged_in?%>
           <a href="/">Your Collection</a>
           <a href="/records">RC Database</a>
         <%else%>
           <a href="#" onclick="showLogin(event)">Log In</a>
           <a href="#" onclick="showSignup(event)">Sign Up</a>
         <%end%>
       </nav>
     </div>
     <%if logged_in?%>
       <nav id="mobile-nav" class="disabled">
         <ul>
           <li><a href="/">Your Collection</a></li>
           <li><a href="/records">RC Database</a></li>
           <li><a href="/logout">Log Out</a></li>
         </ul>
       </nav>
      <%end%>
     <div class="container">
         <%=yield%>
     </div>
     <footer id="footer">

     </footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script>
       var labels = document.getElementsByClassName('display-mode-label');
       var tables = document.getElementsByTagName('table');

       for (let i = 0; i < labels.length; i++) {
         var label = labels[i];
         handleClick(label, i);
       }

       function handleClick(label, position) {
         label.onclick = function() {
           for (let i = 0; i < tables.length; i++) {
             tables[i].className = "disabled";
           }
           tables[position].className = "";
         }
       }

       function toggleMenu() {
         var menu = document.getElementById('mobile-nav');
         menu.classList.toggle('disabled');
       }
     </script>
  </body>
</html>
